/* div {
    width: 351px;
    aspect-ratio: auto 351 / 113;
    height: 113px;
    text-align: -webkit-center;
    margin: auto;
    padding: auto;
}
*/

.boxes {
    display: block;
    text-align: -webkit-center;
    background-color: rgb(215, 210, 210);
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.bottomboxes {
    background-color: #7EE5DA; 
    width: 25%;
    margin: 1px;
    float: left;
    text-align: center;
    text-align: -webkit-center;
    border-radius: 25px;
    }

section {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    width: 387px;
    height: 76px;
    float: left;
}

footer {
    margin: 200px;
    width: 300px;
}
body {
    width: 400px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
